/*rss,count,search*/
#_JW_prFl_basic .fnDiv._prFlSearch {overflow:hidden; margin-bottom:15px;}
._fnctWrap .fnDiv .fnSearch fieldset input[type='text'] {width:250px; padding:0; height:45px;}
._fnctWrap .fnDiv .fnSearch fieldset .fnSubmit a, ._fnctWrap .fnDiv .fnSearch fieldset .fnSubmit input {text-indent:-5000px; font-size:0px; border:0; border-radius:0px; margin-right:0px; width:45px; height:45px; background-color:#000; background-position:15px 15px; background-image:url(./../images/searchicon.png) no-repeat;}
._fnctWrap .fnDiv .fnSearch fieldset .fnSubmit a, ._fnctWrap .fnDiv .fnSearch fieldset .fnSubmit input:hover {background-color:#8d7150;}
._fnctWrap .fnDiv .fnSearch fieldset select {height:45px; line-height:30px; width:100px; color:rgba(0, 0, 0, 1); background-color:#fff; background:url(./../images/bottom_an.png) no-repeat 75px 20px; padding-left:10px; -moz-appearance:none; /* Firefox */	-webkit-appearance:none; /* Safari and Chrome */ appearance:none;}
._fnctWrap .fnDiv .fnSearch fieldset _selectBox option {height:30px; line-height:50px;}


/*list + View*/
#_JW_prFl_basic ._prFlList {display:flex; flex-wrap:wrap;}
#_JW_prFl_basic ._prFlList ._prFlLi {width:calc(50% - 5px); margin-bottom:10px; margin-right:10px; position:relative; border:1px solid #c2c0c0; background:#fff url(./../images/plus.png) no-repeat top right;}
#_JW_prFl_basic ._prFlList ._prFlLi:nth-child(2n) {margin-right:0px;}
#_JW_prFl_basic ._prFlList ._prFlLi:hover {box-shadow:inset 0px 0px 25px rgba(0,0,0,0.1); border:1px #146e7a solid; background:#fff url(./../images/plus2.png) no-repeat top right;}
#_JW_prFl_basic ._prFlList ._prFlLi ._prFlLinkView {display:block;}
#_JW_prFl_basic ._prFlList ._prFlLi.thumbLi .thumbnail {float:left; width:150px; margin:15px 0 15px 15px;}
#_JW_prFl_basic ._prFlList ._prFlLi.thumbLi .thumbnail img {width:150px; height:180px; border:solid 1px #ccc;}

#_JW_prFl_basic ._prFlList ._prFlLi.thumbLi .thumbnail .btn {    background: linear-gradient(1deg, #918d8d7d, transparent);border: solid 1px #ccc; text-align: center;}
#_JW_prFl_basic ._prFlList ._prFlLi.thumbLi .thumbnail .btn:hover {background:#8d7150; border:solid 1px #ccc;}
#_JW_prFl_basic ._prFlList ._prFlLi.thumbLi .thumbnail .btn a{color: #002d56;font-size: 0.85rem!important;line-height: 28px;height: 30px;display: block;}
#_JW_prFl_basic ._prFlList ._prFlLi.thumbLi .thumbnail .btn a:hover{color:#fff;}


#_JW_prFl_basic ._prFlList ._prFlLi .artclInfo {display:inline-block; width:calc(100% - 210px); margin:15px 15px 15px 30px;}
#_JW_prFl_basic ._prFlList ._prFlLi .artclInfo .artclTitle {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:1.6; margin:0 25px 10px 0;}
#_JW_prFl_basic ._prFlList ._prFlLi .artclInfo .artclTitle strong {font-size:1.25em; font-weight:500; line-height:1.6; color:#002d56;}
#_JW_prFl_basic ._prFlList ._prFlLi .artclInfo dl {overflow:hidden; margin-top:5px;}
#_JW_prFl_basic ._prFlList ._prFlLi .artclInfo dl dt {color:#666; font-size:1rem; line-height:1.6; font-weight:500; float:left; width:90px; padding-left:10px; background:url("./../images/bullet.gif") no-repeat 0 11px;}
#_JW_prFl_basic ._prFlList ._prFlLi .artclInfo dl dd {color:#333; font-size:1rem; line-height:1.6; font-weight:400; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#_JW_prFl_basic ._prFlView {padding:5px; background:#e0e0e0 url('./../images/pattern-menu-box-sky.png') left top;}


#_JW_prFl_basic ._prFlView ._prFlLi {background:#fff url('./../images/biglogo.png') no-repeat center -150px;}
#_JW_prFl_basic ._prFlView ._prFlLi:hover {box-shadow:inset 0px 0px 25px rgba(0,0,0,0.1); border:1px #146e7a solid;background:#fff url('./../images/biglogo.png') no-repeat center -150px;}
#_JW_prFl_basic ._prFlView ._prFlLi .artclInfo .artclTitle {overflow:inherit; text-overflow:inherit; white-space:inherit; line-height:1.6; margin:0 25px 10px 0;}
#_JW_prFl_basic ._prFlView ._prFlLi {width:100%; margin-bottom:0px; margin-right:0px;}
#_JW_prFl_basic ._prFlView ._prFlLi .artclInfo dl {margin-top:8px;}
#_JW_prFl_basic ._prFlView ._prFlLi .artclInfo dl dd {overflow:inherit; text-overflow:inherit; white-space:inherit;}





@media all and (max-width:1024px) {
	#_JW_prFl_basic ._prFlList ._prFlLi {width:100%; margin-bottom:0px; margin-right:0px; border-top:none;}
	#_JW_prFl_basic ._prFlList ._prFlLi:first-child {border-top:1px solid #c2c0c0;}
}
@media all and (max-width:767px) {
	#_JW_prFl_basic ._prFlList ._prFlLi.thumbLi .thumbnail {float:none; width:auto; text-align:center;}
	#_JW_prFl_basic ._prFlList ._prFlLi .artclInfo {display:block; width:auto; margin:15px 15px 15px 15px;}
	#_JW_prFl_basic ._prFlList ._prFlLi .artclInfo .artclTitle {overflow:inherit; text-overflow:inherit; white-space:inherit;}
	#_JW_prFl_basic ._prFlView ._prFlLi .artclInfo dl dt {width:100%;}
	#_JW_prFl_basic ._prFlView ._prFlLi .artclInfo dl dd {overflow:inherit; text-overflow:inherit; white-space:inherit; padding-left:10px;}
}
/* detail in editer */
._fnctWrap h3 {display:none;}
#_JW_prFl_basic ._prFlDetail {padding:15px;}
#_JW_prFl_basic ._prFlDetail .tit strong {display:block; margin-top:30px; border-bottom:1px dotted #000; font-size:1.13rem; font-weight:500; color:#8d7150;}
#_JW_prFl_basic ._prFlDetail li {list-style:disc !important; margin-left:18px;}